* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: #eeeeee;
}

/* Nav Styles */
nav {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 5;
}


#nav-center {
    width: 1250px;
    height: 100%;
    display: inline-block;
}

@media only screen and (min-width: 1050px) and (max-width: 1350px) {
    #nav-center {width: 1000px;}
}

h1#brand {
    font-family: 'Supermercado One', cursive;
    font-size: 3rem;
    display: inline;
}

ul#nav-menu {
    width: max-content;
    height: 60px;
    list-style: none;
    display: inline;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul#nav-menu>li:not(:first-child) {
    margin-left: 15px;
}

ul#nav-menu>li>a {
    color: #000000;
    font-size: 1.3rem;
    font-family: 'Rowdies', cursive;
    text-decoration: none;
}
/* --Nav Styles-- */

/* Header Styles */

header {
    width: 100%;
    height: 100vh;
    background-image: url('background-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.welcome-text {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #999999;
}

.welcome-text:first-child {
    margin-bottom: 5px;
}

/* --Header Styles-- */

/* Footer Styles */

footer {
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #000011;
    text-align: center;
    font-size: larger;
    margin-top: 100px;
    padding-top: 13px;
}

/* --Footer Styles-- */

/* Dil Bilgisi Section */

    /* Sozluk Section */

section#sozluk {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

section#sozluk>a {
    font-size: x-large;
    align-self: center;
    margin: 25px 0;
}


    /* --Sozluk Section-- */

/* --Dil Bilgisi Section-- */

/* General Classes */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    /* opacity: 0; */
    position: absolute;
    left: -15px;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    transform: translateY(150px);
    opacity: 0;
    transition: visibility 0.5s, transform 0.4s linear, opacity 0.5s;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:last-child {border-radius: 0 0 20px 20px;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.clear {
    clear: both;
}

.section-divider {
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 10px 0;
}

.section-divider::after {
    content: " ";
    display: block;
    width: 90%;
    margin-left: 5%;
    border:2px solid #000000;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.section-divider-text {
    width: max-content;
    color: #000000;
    background-color: #eeeeee;
    margin: auto;
    padding: 0 10px;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
}

.section-divider>.section-divider-button {
    background-color: #eeeeee;
    position: absolute;
    padding: 0 10px;
    top: 13px; right: 55px;
}

.full-centered {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Card Style */

.card-wrp {
    width: 100%;
    height: fit-content;
    background-color: #fffcf5;
    padding: 50px 0;
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 300px;
    height: 330px;
    /* border: 1px solid #999999; */
    border-radius: 30px;
    background: #fffcf5;
    box-shadow:  10px 10px 20px #c9c6c0,
                -10px -10px 20px #f0f0f0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 0 13px 0;
}

.card-header, .card-body, .card-footer {
    width: 100%;
}

.card-header {
    height: fit-content;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

.card-header, .card-header>* {
    cursor: pointer;
}

.card-title {
    margin: 7px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

.card-body {
    height: 100%;
    cursor: pointer;
}

p.card-content {
    height: 100%;
    white-space: pre-wrap;
    text-align: justify;
    margin: 5px 15px 0 15px;
    cursor: pointer;

}

.card-footer {
    height: 100px;
    color: #d35400;
    background: rgb(255,252,245);
    background: linear-gradient(0deg, rgba(255,252,245,1) 50%, rgba(255,252,245,0.19931722689075626) 100%);
    font-size: x-large;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
}

/* --Card Style-- */

/* See All Card Style */

.see-all-card-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #00000099;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.see-all-card-wrapper>.card {
    width: 75%;
    height: 85%;
    margin-top: 60px;
    padding: 5px 25px;
    border-radius: 30px 0 0 30px;
    overflow-y: scroll;
}

.see-all-card-wrapper>.card>.card-footer {
    display: none;
}

/* --See All Card Style-- */

/* Book Card Style */

.book-wrp {
    width: 100%;
    height: 900px;
    background-color: #fffcf5;
    padding: 50px 0;
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px 30px;
    overflow-y: hidden;
}

.book-card {
    background: #fffcf5;
    box-shadow:  10px 10px 20px #c9c6c0,
                -10px -10px 20px #f0f0f0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    overflow: hidden;
}

img.book-pic {
    max-width: 245px;
    max-height: 375px;
    padding: 25px;
    border-right: 1px solid #aaaaaa;
    border-radius: 20px 0 0 20px;
}

.book-details {
    width: 350px; height: 375px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

h2.book-title {
    text-align: center;
}

p.book-description {
    height: 100%;
    padding-right: 5px;
    text-align: justify;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d35400 #ffffff;
}

p.book-description::-webkit-scrollbar {
    width: 10px;
}

p.book-description::-webkit-scrollbar-track {
    background: #ffffff;
}

p.book-description::-webkit-scrollbar-thumb {
    background-color: #d35400;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

h3.book-writer {
    text-align: right;
    padding-right: 5px;
}

/* --Book Card Style-- */

/* Quote Card Style */

.quote-wrp {
    width: 750px;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.quote-selector {
    width: 100%;
    height: 50px;
    background-color: #fffcf5;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.quote-selector>.page {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #aaaaaa;
}

.quote-selector>.page:last-child {
    border-right: none;
}

.quote-selector>.selected {
    background-color: #fffcf5;
    position: relative;
    filter: drop-shadow(0px 3px 6px #aaaaaa);
}

.quote-selector>.selected::after {
    content: " ";
    width: 0; 
    height: 0; 
    position: absolute;
    left: 44%;
    bottom: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #ffffff;
}

.quote-card {
    width: 100%;
    background-color: #fffcf5;
    padding: 25px;
}

.quote {
    width: 100%;
    height: fit-content;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

p.quote-text {
    white-space: pre-wrap;
    font-size: large;
    font-weight: bold;
}

em.quote-writer {
    margin-top: 5px;
    display: block;
    text-align: right;
}

.quote:nth-of-type(odd) {
    text-align: left;
    border-left: 10px solid #d35400;
    border-radius: 0 0 0 25px;
}

.quote:nth-of-type(even) {
    text-align: right;
    border-right: 10px solid #d35400;
    border-radius: 0 0 25px 0;
}

/* --Quote Card Style-- */

/* Button Styles */

.btn {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    padding: 15px 20px;
    cursor: pointer;
}

.btn-primary {
    color: #ffffff;
    background-color: #d35400;
    font-weight: 600;
    border-radius: 10px;
}

.btn-tertiary {
    color: #d35400;
    font-size: large;
}

.anchor {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: -60px;
}

section {
    position: relative;
}

/* --Button Styles-- */
/* --General Classes-- */